.eventUsersContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 40%;
  overflow-x: auto; /* Dodane dla obsługi przewijania */
}

.sectionHeading {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 10px;
}

.userTable {
  width: 100%;
  border-collapse: collapse; /* Usuwa podwójne ramki */
}

.tableHeading {
  background-color: #f2f2f2;
  font-weight: bold;
  padding: 8px;
}

.userItem {
  padding: 10px 0;
  border-bottom: 1px solid #e1e1e1;
}

.username,
.role {
  padding: 8px;
}

.username {
  font-weight: 600;
  color: #333;
}

.role {
  font-style: italic;
  color: #666;
}

.loadingMessage {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}
/* Style dla urządzeń mobilnych */
@media (max-width: 768px) {
  .eventUsersContainer {
    width: 100%;
  }

  .sectionHeading {
    font-size: 20px;
  }

  .userTable {
    font-size: 14px; /* Zmniejszenie rozmiaru czcionki */
  }

  .tableHeading {
    padding: 6px; /* Zmniejszenie paddingu */
  }

  .username,
  .role {
    padding: 6px;
  }

  .loadingMessage {
    font-size: 16px;
    margin-top: 15px;
  }
}
