/* ManageUserEvent.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px; /* dodane ograniczenie szerokości */
  margin: 0 auto; /* dodane centrowanie */
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  text-align: center; /* tytuł wyśrodkowany */
}

.buttonsContainer {
  display: flex;
  gap: 0.5rem; /* mniejsze odstępy */
  flex-wrap: wrap; /* umożliwia zawijanie przycisków */
  justify-content: center;
  align-items: center;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1 0 calc(50% - 1rem); /* pozwala na dwie kolumny przycisków na mobilkach */
  text-align: center;
  min-width: 120px; /* Stała szerokość dla przycisków */
  box-sizing: border-box; /* Aby padding był uwzględniony w szerokości */
}

.button:hover {
  background-color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 1.5rem; /* mniejsze paddingi */
  background-color: white;
  border-radius: 8px;
  width: 90%; /* większa szerokość modala na mobilkach */
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  max-width: 500px; /* ograniczenie maksymalnej szerokości */
}

.closeButton {
  position: absolute;
  top: 10px; /* mniejsze odstępy */
  right: 10px; /* mniejsze odstępy */
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.closeButton:hover {
  color: #333;
}

.inputGroup {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.input,
.select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

.errorMessage {
  color: #ff0000;
  margin-top: 1rem;
  text-align: center;
}

/* Media queries dla większych ekranów */
@media (min-width: 768px) {
  .button {
    flex: 0 0 auto; /* powrót do domyślnego zachowania flexboxa */
    padding: 0.75rem 1.5rem;
    min-width: 150px; /* Większa stała szerokość dla przycisków na większych ekranach */
  }

  .modal {
    padding: 2rem;
  }
}
