/* RemoveUserFromEvent.module.css */

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 20%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 16px;
}

.input {
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: var(--border-radius);
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #ff4136; /* Red border for focus, to indicate possible danger action of removing a user */
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4136; /* Red background for button, to indicate danger action */
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e70f00;
}

.button:active {
  background-color: #bf0d00;
}

.errorMessage {
  color: #ff4136;
  font-size: 14px;
  margin-top: 10px;
}

/* Style dla urządzeń mobilnych */
@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .inputGroup {
    gap: 10px;
  }

  .label {
    font-size: 14px;
    gap: 3px;
  }

  .input {
    padding: 8px;
    font-size: 12px;
  }

  .button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .errorMessage {
    font-size: 12px;
    margin-top: 8px;
  }
}
