/* page.module.css */

.container {
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

/* Style dla urządzeń mobilnych */

@media (max-width: 768px) {
  .container {
    padding: 15px;
    gap: 10px;
  }
}
