/* page.module.css */

.container {
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif; /* Dodanie nowoczesnej czcionki */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.eventUserManagementSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.eventTableCreatorSection {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
/* Stylowanie ekranu ładowania */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5em;
  color: #555;
}

/* Stylowanie wiadomości o błędzie */
.error {
  padding: 20px;
  background-color: #ffdddd;
  border: 1px solid #ff8888;
  color: #ff0000;
  border-radius: var(--border-radius);
  text-align: center;
  margin-top: 20px;
}

/* Style dla urządzeń mobilnych */

@media (max-width: 768px) {
  .container {
    padding: 15px;
    gap: 10px;
  }

  .eventUserManagementSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .eventTableCreatorSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
