/* Navbar.module.css */

/* Styl dla całego Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--componentPadding);
  background-color: var(--colorLightSilver);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styl dla logo */
.navbarLogo a {
  font-family: "AcidGroteskRegular", Arial, sans-serif;
  font-size: 24px;
  color: var(--colorBlack);
  text-decoration: none;
}

/* Styl dla linków nawigacyjnych */
.navbarLinks ul {
  list-style: none;
  display: flex;
}

.navbarLinks li {
  margin-right: 20px;
}

.navbarLinks a {
  color: var(--colorBlack);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

.navbarLinks a:hover {
  color: var(--colorBlue);
}

/* Styl dla menu wyboru języka */
.navbarLanguage select {
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: var(--colorBlack);
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navbarLanguage select:hover {
  color: var(--colorBlue);
}

/* Dla szerokości ekranu mobilnego */
@media only screen and (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .navbarLogo {
    margin-bottom: 20px;
  }

  .navbarLinks {
    margin-top: 20px;
  }

  .navbarLinks ul {
    flex-direction: column;
  }

  .navbarLinks li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
