/* LogoutButton.module.css */

.logoutButton {
  background-color: #d9534f; /* Czerwony kolor tła dla przycisku wylogowania */
  color: #fff; /* Biały kolor tekstu */
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin-left: 10px; /* Dodano margines po lewej stronie przycisku */
}

.logoutButton:hover {
  background-color: #c9302c; /* Ciemniejszy czerwony kolor tła podczas najechania */
}

.logoutButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(217, 83, 79, 0.5); /* Czerwony cień wokół przycisku po kliknięciu */
}

/* Dla mniejszych ekranów */
@media only screen and (max-width: 768px) {
  .logoutButton {
    font-size: 14px; /* Mniejsza czcionka dla przycisku na małych ekranach */
    padding: 6px 12px; /* Mniejszy padding dla przycisku na małych ekranach */
  }
}
