/* AllParticipantsScoresTable.module.css */
.allParticipantsScoresTable {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 90%;
  overflow-x: auto;
}

.allScoresTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.allScoresTable th,
.allScoresTable td {
  padding: 8px;
  text-align: center;
}

.allScoresTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.allScoresTable tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.allScoresTable tbody tr:hover {
  background-color: #e6e6e6;
}

.noScoresAvailable {
  font-size: 18px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .allParticipantsScoresTable {
    width: 100%;
  }

  .allScoresTable {
    font-size: 14px;
  }

  .allScoresTable th,
  .allScoresTable td {
    padding: 6px;
  }

  .noScoresAvailable {
    font-size: 16px;
    margin-top: 15px;
  }
}
