.detailsContainer {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: -moz-available; /* WebFirefox */
  height: -webkit-fill-available; /* WebKit */
  height: fill-available; /* Standard */
}

.eventName {
  font-size: 1.5em;
  font-weight: bold;
}

.eventDate {
  font-size: 1.2em;
  color: #777;
}
