.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9fa;
  border-radius: 12px 12px 0 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eventName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.shortEventInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.mapContainer {
  width: 100%;
  border-radius: 0 0 12px 12px;
  overflow: hidden;
}

.eventInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.eventDate,
.eventTime,
.eventContact {
  font-size: 16px;
}

.eventDescriptionDetails {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 6px;
  width: initial;
}

.eventDescription {
  font-size: 16px;
  margin-top: 10px;
}

.editButton {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.editButton:hover {
  background-color: #0056b3;
}
