.container {
  box-sizing: border-box;
  background-color: #f9f9fa;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  max-width: 800px;
  width: 100%;
  /* Usunięte style związane z wysokością */
}

.tableContainer {
  overflow-x: auto;
  width: 100%;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #2c3e50;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px 16px;
  text-align: left;
}

.table th {
  background-color: #34495e;
  color: #ecf0f1;
  border-bottom: 2px solid #2c3e50;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  max-width: 100%;
}

.input:focus {
  border-color: #5cb85c;
  box-shadow: 0 0 0 0.2rem rgba(92, 184, 92, 0.25);
}

.addButton,
.removeButton,
.button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
}

.addButton:hover,
.removeButton:hover,
.button:hover {
  background-color: #4cae4c;
}

.removeButton {
  background-color: #d9534f;
}

.removeButton:hover {
  background-color: #c9302c;
}

@media (max-width: 768px) {
  .container {
    padding: 10px 10px; /* zmniejszono padding z 15px */
  }

  .title {
    font-size: 18px; /* zmniejszono z 20px */
    margin-bottom: 15px; /* zmniejszono margines z 20px */
  }

  .tableContainer {
    overflow-x: auto; /* umożliwia poziome przewijanie tylko dla tabeli */
  }

  .table th,
  .table td {
    padding: 6px 8px; /* zmniejszono padding dla komórek */
  }

  .input {
    font-size: 12px; /* zmniejszono rozmiar czcionki dla inputów */
    padding: 6px 8px; /* zmniejszono padding dla inputów */
  }

  .addButton,
  .removeButton,
  .button {
    font-size: 14px;
    margin-top: 10px;
    padding: 6px 10px; /* zmniejszono padding dla przycisków */
  }
}
