/* Ogólny kontener */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 1px solid #d0d0d0;
  margin-bottom: 20px;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  box-sizing: border-box;
  overflow-x: auto; /* Dodane dla przewijania */
}

.title {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

/* Style dla pojedynczej kategorii */
.category {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.input {
  padding: 8px 12px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.input:focus {
  border-color: #007bff;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  background-color: #a6a6a6;
  cursor: not-allowed;
}

.removeButton {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff4136;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.table {
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;
}

.table th,
.table td {
  padding: 8px 12px;
  border: 1px solid #d0d0d0;
  word-break: break-word;
}

.addButton {
  margin-top: 10px;
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

.addButton:hover {
  background-color: #c7c7c7;
}

/* Style dla urządzeń o szerokości ekranu mniejszej niż 768px */
@media (max-width: 767px) {
  .container {
    padding: 10px;
    align-items: stretch;
  }

  .title {
    font-size: 18px;
    text-align: center;
  }

  .table,
  .editMode,
  .viewMode {
    font-size: 14px;
  }

  .table th,
  .table td {
    padding: 6px 8px;
  }

  .input {
    font-size: 14px;
    padding: 6px 10px;
  }

  .button,
  .removeButton {
    padding: 8px 15px;
    font-size: 14px;
  }

  .addButton {
    font-size: 14px;
    padding: 6px 10px;
  }

  .category {
    flex-direction: column;
    align-items: stretch;
    gap: 6px;
  }

  .viewMode,
  .editMode {
    flex-wrap: nowrap;
  }
}
