/* BranchSegment.module.css */

.BranchSegment {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 600px; /* Adjusted the height here */
  }
  
  .BranchSegment .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will make the image cover the entire container */
    z-index: 1;
    filter: brightness(70%);
  }
  
  .BranchSegment .top,
  .BranchSegment .bottom {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 2;
  }
  
  .BranchSegment .top {
    top: 0;
    padding-top: 2em; /* Increase this padding to move both a little bit down */
    gap: 1em; /* Added padding between top of component and companyName */
  }
  
  .BranchSegment .bottom {
    bottom: 0;
    padding-bottom: 2em; /* Increase this padding to move both a little bit up */
    gap: 1em; /* Added padding between bottom of component and the button */
  }

  .BranchSegment .h1 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .BranchSegment .h1,
  .BranchSegment .h3,
  .BranchSegment .p,
  .BranchSegment .button {
    color: white; /* Or any color you want */
    text-align: center;
  }
  
  .BranchSegment .serviceLink {
    margin: 1em 1em 1em 1em;
    font-size: 1.2em; /* Making font size larger, adjust to your preference */
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .BranchSegment .serviceLink:hover {
    text-decoration: underline;
    color: orange; /* On hover, change color to orange */
    border-bottom: 2px solid white; /* white underline */
  }
  
  .BranchSegment .button {
    margin-top: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: white;
    color: black;
  }
  
  .BranchSegment .button:hover {
    background-color: #f2f2f2;
  }

.BranchSegment .serviceContainer {
  white-space: nowrap;
  scrollbar-width: none;
    -ms-overflow-style: none;
    text-align: center;
    width: 100%; /* Set width to 100% of parent */
    overflow-x: auto; /* Allow horizontal scrolling */
    overflow-y: hidden; /* Prevent vertical scrolling */
    padding: 1em;
}

.BranchSegment::-webkit-scrollbar, 
.serviceContainer::-webkit-scrollbar {
    display: none;  /* Hide scrollbar in Webkit browsers */
}