.carouselContainer {
    display: flex;
    flex-direction: row; 
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap; 
    width: 100%;
    scrollbar-width: thin;
    transition: scroll-left 0.3s ease;
    overflow-x: hidden;
}

.carouselContainer::-webkit-scrollbar {
    height: 8px;
}

.carouselContainer::-webkit-scrollbar-thumb {
    background: #888;
}

.carouselContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.carouselItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 6);
    height: auto;
    padding: 2rem;
    flex: 0 0 auto; 
    box-sizing: border-box;
    filter: grayscale(100%);
    transition: filter 0.3s ease;  /* Smooth transition between grayscale and color */
}

.carouselItem:hover {
    /* Remove grayscale on hover */
    filter: grayscale(0%);
}

/* Media query for screens under 1024px */
@media (max-width: 1024px) {
    .carouselItem {
        width: calc(100% / 4); /* Show two logos side-by-side */
    }
}

@media (max-width: 560px) { 
    .carouselItem {
        width: calc(100% / 2); /* Show two logos side-by-side */
    }
}