.videoContainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Proporcje 16:9 */
  overflow: hidden;
}

.videoPlayer {
  position: absolute;
  top: 0;
  left: 50%; /* Wyśrodkowanie wideo w poziomie */
  width: auto;
  height: 100%;
  transform: translateX(-50%); /* Wyśrodkowanie wideo w poziomie */
  object-fit: cover; /* Przycinanie wideo do kontenera */
}

/* Style dla urządzeń mobilnych */
@media only screen and (max-width: 768px) {
  .videoContainer {
    height: 600px; /* Ustawienie wysokości na 600px */
    padding-bottom: 0; /* Resetowanie padding-bottom */
  }

  .videoPlayer {
    min-width: 100%; /* Zapewnienie, że wideo pokrywa całą szerokość */
  }
}
