/* global.css */

/* Definicje czcionek */
@font-face {
  font-family: "AcidGroteskRegular";
  src: url("/fonts/AcidGrotesk-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AcidGroteskLight";
  src: url("/fonts/AcidGrotesk-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Definicje zmiennych CSS */
:root {
  --border-radius: 1rem;
  --component-padding: 1.5vw;
  --component-margin: 1vw;
  --underline-style: #012dc2 solid 0.5vw;
  --button-margin: 2vw;
  --button-padding: 0.5vw;
  --components-gap: 1vw;
  --color-black: #000000;
  --color-light-silver: #d9d9d9;
  --color-blue: #0054e6;
  --color-battery-charged-blue: #15b8dc;
}

::-webkit-scrollbar {
  display: none;
}

/* Resetowanie domyślnych styli dla elementów */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
form, /* Dodane: resetowanie formularzy */
button /* Dodane: resetowanie przycisków */ {
  margin: 0;
  padding: 0;
}

/* Ustawienie podstawowych stylów dla body */
body {
  font-family: "AcidGroteskRegular", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: var(--color-light-silver);
  margin: 0 auto; /* Wyśrodkowanie strony */
}

/* Ustawienie marginesu dla wszystkich elementów typu "p" */
p {
  margin-bottom: 1em;
}

/* Ustawienie stylu dla linków */
a {
  color: var(--color-black);
  text-decoration: none;
}

a:hover {
  text-decoration: underline; /* Dodanie podkreślenia dla lepszej dostępności */
}

/* Ustawienie stylu dla nagłówków */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "AcidGroteskLight", Arial, sans-serif;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

button {
  z-index: 1;
  margin: var(--button-margin);
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  color: white;
  padding: var(--button-padding);
  font-size: 12px;
  border-radius: 0; /* Poprawka wartości */
  background-color: var(--color-blue);
  border: 1px solid #e8e8e8;
  box-shadow: 1px 1px 6px #c5c5c5, -1px -1px 6px #ffffff;
}

table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f5f5f5;
}

/* Dla szerokości ekranu mobilnego */
@media only screen and (max-width: 767px) {
  button {
    padding: 2.77777778vw 6.66666667vw;
  }
  input {
    font-size: 16px;
  }
}
