.userProfile {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  max-height: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle; /* Ustawienie wyrównania w pionie dla ikony */
}

.userName {
  font-size: 1.5rem;
  margin: 0;
  vertical-align: middle; /* Ustawienie wyrównania w pionie dla tekstu */
}
