/* LogoutButton.module.css */

.logoutButton {
  background-color: #ff6347; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu */
  border: none;
  border-radius: 4px; /* Zaokrąglenie przycisku */
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Animacja zmiany koloru tła */
}

.logoutButton:hover {
  background-color: #e74c3c; /* Kolor tła przycisku po najechaniu myszką */
}
