/* LogoutButton.module.css */

.logoutButton {
  background-color: var(--color-button-red); /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu */
  border: none;
  border-radius: var(--border-radius); /* Zaokrąglenie przycisku */
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease; /* Animacja zmiany koloru tła */
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  max-height: 2rem;
}

.logoutButton:hover {
  background-color: var(
    --color-button-red-hover
  ); /* Kolor tła przycisku po najechaniu myszką */
}
