.menu {
  flex: 1;
  padding: 20px;
  border-right: 1px solid #ddd;
  background-color: orange;
}

.logo {
  margin-bottom: 20px;
  max-width: 200px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 15px;
}

/* Dla wersji mobilnej */
@media (max-width: 768px) {
  .menu {
    border-right: none;
    border-bottom: 1px solid #ddd;
  }
}
