/* AuthContainer.module.css */

/* Style dla głównego kontenera */
.mainContainer {
  padding: 70px 0 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}
.mainForm {
  background-color: var(--color-light-silver);
  background-color: #fff;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 2rem 0;
  padding: 1rem;
}

/* Style dla elementów wewnątrz kontenera */
.elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Zabezpieczenie przed zasłonięciem przez tło */
  position: relative;
}

/* Style dla zakładek */
.tabs {
  display: flex;
}

/* Style dla aktywnej zakładki */
.activeTab {
  display: none;
}
.button {
  width: 100%;
}
.createAccount {
  width: 100%;
  border-radius: var(--border-radius);
  background-color: black;
}

/* Style dla urządzeń mobilnych (np. o szerokości ekranu mniejszej niż 768px) */
@media (max-width: 768px) {
  /* Przykładowe style dla urządzeń mobilnych */
  .mainForm {
    margin: 5vw 0 5vw 0; /* Mniejszy margines na urządzeniach mobilnych */
    padding: 2vw; /* Mniejszy padding na urządzeniach mobilnych */
  }

  /* Dodaj więcej stylów dostosowanych do urządzeń mobilnych według potrzeb */
}
