/* SignUpForm.module.css */

/* Style dla całego formularza */
.form {
  margin: 0 auto;
  padding: var(--component-padding);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style dla nagłówka formularza */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: var(--component-margin);
}

/* Style dla etykiet inputów */
.label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

/* Style dla kontenerów inputów */
.inputContainer {
  margin-bottom: var(--component-margin);
}

/* Style dla inputów */
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style dla przycisku */

/* Style dla błędów */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}
