/* signinform.module.css */

/* Style dla całego formularza */
.form {
  margin: 0 auto;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style dla nagłówka formularza */
.heading {
  font-size: 24px;
  font-weight: bold;
}

/* Style dla etykiet inputów */
.label {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

/* Style dla kontenerów inputów */
.inputContainer {
  margin-top: var(--component-margin);
}

/* Style dla inputów */
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: 16px;
  width: 300px;
}

/* Style dla błędów */
.error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.forgotPasswordLink {
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.button {
  margin: 1rem 0;
  border: none;
  border-radius: var(--border-radius);
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
}
